@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.homepage{
}

.navbar ul{
  font-family: 'Bellefair', serif;
  width: 45rem;
  position: absolute;
  z-index: 1;
  top: 2rem;
  right: 0;
  padding: 2rem 3rem 2rem 6rem;
  background: rgba(32, 67, 119, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
}
.navbar .icon-line{
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.navbar .icon-line img{
  width: 40px;

}
.navbar .icon-line hr{
  position: relative;
  z-index: 2;
  bottom: 1.5rem;
  left: 6rem;
  width: 530px;
  font-weight: 100;
  opacity: 0.1;
}
.navbar li{
  display: inline-block;
  margin-right: 35px;
}
.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

#home-img{
  position: absolute;
  z-index: -1;
}
.home-parent{ 
  font-family: 'Bellefair', serif;
  position: absolute;
  margin: 13rem 7rem;
  display: flex;
  /* justify-content: space-between; */
}
.child-space{
  flex: 1;
}
.child-space h4{
  color: #D0D6F9;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 1.725px;
}

.child-space h1{
  font-weight:lighter;
  font-size: 165px;
}
.child-space p{
  margin-top: 15px;
 font-size: 20px;
 font-weight: lighter;
 line-height: 1.5rem;
}
.child-explore{
  flex: 1;
  margin-top: 157px;
  margin-left: 123px;
  padding-left: 325px;

}
.child-explore .explore{
  font-size: 25px;
  border-radius: 100px;
  padding: 85px 45px;
  background-color: white;
  color: rgb(124 106 106);
}
