@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.homepage{
}
#home-img{
  position: absolute;
  z-index: -1;
}
.home-parent{ 
  font-family: 'Bellefair', serif;
  position: absolute;
  margin: 13rem 7rem;
  display: flex;
  /* justify-content: space-between; */
}
.child-space{
  flex: 1;
}
.child-space h4{
  color: #D0D6F9;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 1.725px;
}

.child-space h1{
  font-weight:lighter;
  font-size: 165px;
}
.child-space p{
  margin-top: 15px;
 font-size: 20px;
 font-weight: lighter;
 line-height: 1.5rem;
}
.child-explore{
  flex: 1;
  margin-top: 157px;
  margin-left: 123px;
  padding-left: 325px;

}
.child-explore .explore{
  font-size: 25px;
  border-radius: 100px;
  padding: 85px 45px;
  background-color: white;
  color: rgb(124 106 106);
}

.navbar{
  position: fixed;
  background-color: grey;
  width: 100%;
  
}